.nbar {
    margin: 0 auto;
    text-align: center;
    height: 3rem;
    width:min-content;  
    font-size: 80%;
    display:block;
}
.nbar ul {
    list-style-type: none;
    padding: 8px 0;
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 5%;
    padding: auto  
  }


.nbar ul li { 
    height: auto;
    border-radius: 5px;
}
.nbar li a {
    width: 100%;
    padding: 8px;
    text-decoration: underline;
    font-style: italic;
    border-radius: 5px;
    background-color: #bae8e8;
    color:#272643;
  }
 
.nbar li a:hover {
    border-radius: 5px;
    width: 100%;
    font-size: 120%;
    background-color:#2c698d;
    color: #bae8e8;
  } 
