body{height:100%;
  background: #bae8e8;}

.principal {
    
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    color:#272643;
    font-family: Century Gothic,'Roboto', sans-serif;
    text-align:center;

    
   
}


h1 {
  margin-top: 3%;
  color: #2c698d;
  height:auto;
} 
.invitation {padding: 2% 0;
  height:auto;
  overflow: visible;
  margin: 0 4%;
  text-align: center;
} 

.alt_ {
  position: absolute;
  top:30%;
  left:45%;
  animation-name: an;
  animation-duration: 2s;
  visibility: hidden;
  
}

@keyframes an {
  0% {visibility:visible;}
  100% {visibility:hidden;}
}


.video {
  position: relative;
  width: 100%;
  height:60%;
  display:inline-block;
  margin:auto;
  text-align: center;
}

iframe {
  max-width:92%;

  object-fit:contain;
  border-style: solid;
  border-color: #272643;
  border-radius: 2%;
  border-width: 2px;
}

@media only screen and (max-width: 480px){
  h1 {margin-top: 35%}
  .invitation {margin: 10% 0}
}


  