.principal {
    background: #e3f6f5;
    text-align: center;
    box-sizing:border-box;
    width: 100%;
    height: auto;
    color:#272643;
  font-family: Century Gothic,'Roboto', sans-serif;
  padding: 3% 7%;
}

.title_ {
    color:#2c698d
}
.principal {box-sizing: border-box}
.principal body {font-family: Verdana, sans-serif; margin:0}
.principal .mySlides1 , .principal .mySlides2 {
    display: none;
    max-height: 1100px;
    overflow: auto;
    border: 2px solid #272643; 
    border-radius: 5px;        
    scrollbar-color:#272643 #2c698d;
    scrollbar-width: 5px;
}

.principal img {vertical-align: middle;}

/* Slideshow container */
.principal .slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto; 
}

/* Next & previous buttons */
.principal .prev, .principal .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the buttons*/
.principal .next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}

.principal .prev {
    left: 3px;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.principal .prev:hover, .principal .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.principal .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.principal .numbertext {
  color: #2c698d;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.principal .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.principal .active, .principal .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.principal .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#sidebar ul li.cert{
  color:#e3f6f5
 }


